In [5]:
import numpy as np
import pandas as pd
eps = np.finfo(float).eps
from numpy import log2 as log

#‘eps’ here is the smallest representable number. 
#At times we get log(0) or 0 in the denominator, 
#to avoid that we are going to use this.

dataset = {'Age':['36-55','18-35','36-55','18-35','<18','18-35','36-55','36-55','36-55','>55','36-55','>55','<18','36-55','36-55','<18','18-35','>55','>55','36-55',],
           'Education':['Masters','High School','Masters','Bachelors','High School','Bachelors','Bachelors','Bachelors','Masters','Masters','Masters','Masters','High School','Masters','High School','High School','Bachelors','High School','Bachelors','High School',],
           'Income':['High','Low','Low','High','Low','High','Low','High','Low','Low','High','High','High','Low','Low','Low','High','High','Low','High',],
           'Marrital_Status':['Single','Single','Single','Single','Single','Married','Married','Single','Married','Married','Single','Single','Single','Single','Single','Married','Married','Married','Single','Married',],
           'Buy_Computer': ['Yes','No','Yes','No','Yes','No','No','Yes','No','Yes','Yes','Yes','No','Yes','Yes','Yes','No','Yes','Yes','No',]
        }

df = pd.DataFrame(dataset,columns=['Age','Education','Income','Marrital_Status','Buy_Computer'])

In [6]:
df

      Age    Education Income Marrital_Status Buy_Computer
0   36-55      Masters   High          Single          Yes
1   18-35  High School    Low          Single           No
2   36-55      Masters    Low          Single          Yes
3   18-35    Bachelors   High          Single           No
4     <18  High School    Low          Single          Yes
5   18-35    Bachelors   High         Married           No
6   36-55    Bachelors    Low         Married           No
7   36-55    Bachelors   High          Single          Yes
8   36-55      Masters    Low         Married           No
9     >55      Masters    Low         Married          Yes
10  36-55      Masters   High          Single          Yes
11    >55      Masters   High          Single          Yes
12    <18  High School   High          Single           No
13  36-55      Masters    Low          Single          Yes
14  36-55  High School    Low          Single          Yes
15    <18  High School    Low         Married          Yes
16  18-35    Bachelors   High         Married           No
17    >55  High School   High         Married          Yes
18    >55    Bachelors    Low          Single          Yes
19  36-55  High School   High         Married           No

In [9]:
Class_entropy = 0  #Initialize Entropy
values = df.Buy_Computer.unique()  #Unique objects - 'Yes', 'No'
for value in values:
    fraction = df.Buy_Computer.value_counts()[value]/len(df.Buy_Computer)  
    Class_entropy += -fraction*np.log2(fraction)

In [10]:
Class_entropy

0.9709505944546686

In [18]:
#Entropy for Age
attribute = 'Age'
target_variables = df.Buy_Computer.unique()  #This gives all 'Yes' and 'No'
variables = df[attribute].unique()    #This gives different features in that attribute (like '<18')
entropy_attribute = 0
for variable in variables:
    entropy_each_feature = 0
    for target_variable in target_variables:
        num = len(df[attribute][df[attribute]==variable][df.Buy_Computer ==target_variable]) #numerator
        den = len(df[attribute][df[attribute]==variable])  #denominator
        fraction = num/(den+eps)  #pi
        entropy_each_feature += -fraction*log(fraction+eps) #This calculates entropy for one feature like '18-35'
    fraction2 = den/len(df)
    entropy_attribute += -fraction2*entropy_each_feature   #Sums up all the entropy EAge

In [19]:
abs(entropy_attribute)

0.5509775004326932

In [20]:
IG_Age=Class_entropy-abs(entropy_attribute)

In [21]:
IG_Age

0.41997309402197536

In [22]:
#Entropy for Education
attribute = 'Education'
target_variables = df.Buy_Computer.unique()  #This gives all 'Yes' and 'No'
variables = df[attribute].unique()    #This gives different features in that attribute (like '<18')
entropy_attribute = 0
for variable in variables:
    entropy_each_feature = 0
    for target_variable in target_variables:
        num = len(df[attribute][df[attribute]==variable][df.Buy_Computer ==target_variable]) #numerator
        den = len(df[attribute][df[attribute]==variable])  #denominator
        fraction = num/(den+eps)  #pi
        entropy_each_feature += -fraction*log(fraction+eps) #This calculates entropy for one feature like 'School'
    fraction2 = den/len(df)
    entropy_attribute += -fraction2*entropy_each_feature   #Sums up all the entropy E_Education

In [25]:
abs(entropy_attribute)

0.9406454496153457

In [23]:
IG_Education = entropy_node - abs(entropy_attribute)
IG_Education

0.14354652412251978

In [24]:
#Entropy for Income
attribute = 'Income'
target_variables = df.Buy_Computer.unique()  #This gives all 'Yes' and 'No'
variables = df[attribute].unique()    #This gives different features in that attribute (like 'High')
entropy_attribute = 0
for variable in variables:
    entropy_each_feature = 0
    for target_variable in target_variables:
        num = len(df[attribute][df[attribute]==variable][df.Buy_Computer ==target_variable]) #numerator
        den = len(df[attribute][df[attribute]==variable])  #denominator
        fraction = num/(den+eps)  #pi
        entropy_each_feature += -fraction*log(fraction+eps) #This calculates entropy for one feature like 'School'
    fraction2 = den/len(df)
    entropy_attribute += -fraction2*entropy_each_feature   #Sums up all the entropy E_Education

In [26]:
abs(entropy_attribute)

0.9406454496153457

In [27]:
IG_Income = entropy_node - abs(entropy_attribute)
IG_Income

0.030305144839322895

In [28]:
#Entropy for Marrital Status
attribute = 'Marrital_Status'
target_variables = df.Buy_Computer.unique()  #This gives all 'Yes' and 'No'
variables = df[attribute].unique()    #This gives different features in that attribute (like 'Single')
entropy_attribute = 0
for variable in variables:
    entropy_each_feature = 0
    for target_variable in target_variables:
        num = len(df[attribute][df[attribute]==variable][df.Buy_Computer ==target_variable]) #numerator
        den = len(df[attribute][df[attribute]==variable])  #denominator
        fraction = num/(den+eps)  #pi
        entropy_each_feature += -fraction*log(fraction+eps) #This calculates entropy for one feature like 'School'
    fraction2 = den/len(df)
    entropy_attribute += -fraction2*entropy_each_feature   #Sums up all the entropy E_Education

In [29]:
abs(entropy_attribute)

0.8685404758454651

In [30]:
IG_Marrital = entropy_node - abs(entropy_attribute)
IG_Marrital

0.10241011860920346

In [31]:
#decision tree
def find_entropy(df):
    Class = df.keys()[-1]   #To make the code generic, changing target variable class name
    entropy = 0
    values = df[Class].unique()
    for value in values:
        fraction = df[Class].value_counts()[value]/len(df[Class])
        entropy += -fraction*np.log2(fraction)
    return entropy

def find_entropy_attribute(df,attribute):
    Class = df.keys()[-1]   #To make the code generic, changing target variable class name
    target_variables = df[Class].unique()  #This gives all 'Yes' and 'No'
    variables = df[attribute].unique()    #This gives different features in that attribute (like 'Hot','Cold' in Temperature)
    entropy2 = 0
    for variable in variables:
        entropy = 0
        for target_variable in target_variables:
            num = len(df[attribute][df[attribute]==variable][df[Class] ==target_variable])
            den = len(df[attribute][df[attribute]==variable])
            fraction = num/(den+eps)
            entropy += -fraction*log(fraction+eps)
        fraction2 = den/len(df)
        entropy2 += -fraction2*entropy
    return abs(entropy2)

def find_winner(df):
    Entropy_att = []
    IG = []
    for key in df.keys()[:-1]:
#       Entropy_att.append(find_entropy_attribute(df,key))
        IG.append(find_entropy(df)-find_entropy_attribute(df,key))
    return df.keys()[:-1][np.argmax(IG)]
  
def get_subtable(df, node,value):
    return df[df[node] == value].reset_index(drop=True)

def buildTree(df,tree=None): 
    Class = df.keys()[-1]   #To make the code generic, changing target variable class name
    
    #Here we build our decision tree

    #Get attribute with maximum information gain
    node = find_winner(df)
    
    #Get distinct value of that attribute e.g Salary is node and Low,Med and High are values
    attValue = np.unique(df[node])
    
    #Create an empty dictionary to create tree    
    if tree is None:                    
        tree={}
        tree[node] = {}
    
   #We make loop to construct a tree by calling this function recursively. 
    #In this we check if the subset is pure and stops if it is pure. 

    for value in attValue:
        
        subtable = get_subtable(df,node,value)
        clValue,counts = np.unique(subtable['Buy_Computer'],return_counts=True)                        
        
        if len(counts)==1:#Checking purity of subset
            tree[node][value] = clValue[0]                                                    
        else:        
            tree[node][value] = buildTree(subtable) #Calling the function recursively 
                   
    return tree

In [32]:
tree = buildTree(df)
import pprint
pprint.pprint(tree)

{'Age': {'18-35': 'No',
         '36-55': {'Marrital_Status': {'Married': 'No', 'Single': 'Yes'}},
         '<18': {'Income': {'High': 'No', 'Low': 'Yes'}},
         '>55': 'Yes'}}

In [33]:
#Prediction Function
def predict(inst,tree):
    #This function is used to predict for any input variable 
    
    #Recursively we go through the tree that we built earlier

    for nodes in tree.keys():        
        
        value = inst[nodes]
        tree = tree[nodes][value]
        prediction = 0
            
        if type(tree) is dict:
            prediction = predict(inst, tree)
        else:
            prediction = tree
            break;

In [34]:
inst = df.iloc[6] #This takes row with index 6

In [35]:
inst

Age                    36-55
Education          Bachelors
Income                   Low
Marrital_Status      Married
Buy_Computer              No
Name: 6, dtype: object